body, html {
    font-size: small;
}

body {
    background: #fff;
    color: #222;
}

body, td, a, p, .h {
    font-family: arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

div#viewport {
    position: absolute;
    top: 0;
    width: 100%;
}

#viewport {

    min-height: 100%;
    position: relative;
    width: 100%;

}
.ctr-p {
    margin: 0 auto;
    min-width: 980px;
}

div#searchform {
    margin-top: 0;
    position: absolute;
    top: 311px;
    min-width: 980px;
    z-index: 103;
    width: 100%;
}

.content {
    padding-bottom: 35px;
}

#body, #footer {
    display: block;
}

.ctr-p {
    margin: 0 auto;
    min-width: 980px;
}

#searchbox {
    margin-top: 7px;
    height: 42px;
    width: 454px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding-left: 25px;
    display: flex;
    background-color: #ffffff;
    box-shadow: inset 1px 1px 0 1px #dfe1e5;
}

a {
    text-decoration: none;
    color: #222222;
    opacity: 0.75;
    padding-left: 19px;
}

#navleft {
    margin-top: 23px;
    margin-left: 6px;
    margin-right: 50px;
}

#navright {
    margin-top: 10px;
    margin-right: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#Signin {
    display: inline-block;
    border-color: blue;
    color: blue;
    font-weight: 800;
    position: relative;
}

#buttons {
    margin-top: 355px;
}

#searchbutton{
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    height: 36px;
    border-radius: 5px;
    padding-right: 10px;
    margin-right: 8px;
    font-size: 14px;
    font-family: arial, sans-serif;
}

#lucky {
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    height: 36px;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 8px;
    font-size: 14px;
    font-family: arial, sans-serif;

}

footer {
    background-color: #f2f2f2;
    width: 100%;
    clear: both;
    height: 60px;
    margin-top: 350px; 
}

#footnav {
    margin-top: 0;
    margin-left: 8px;
    padding-top: 15px;
}

#leftfoot {
    margin-left: 5px;
    padding-left: 20px;
}

#rightfoot {
    margin-right: 5px;
    padding-right: 7px;
}
